﻿<div id="tableBlock" class="container-fluid"></div>

<div id="editBlock" class="container-fluid" style="margin-top: 50px;">
    <div class="row"><b>Редактирование книги</b></div>
    <div class="row">
        <div class="col-sm-2">Автор: </div>
        <div class="col-sm-2"><input type="text" id="editAuthor" /></div>
        <div class="col-sm-2"><input type="hidden" id="editAuthorId" /></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Название: </div>
        <div class="col-sm-2"><input type="text" id="editName" /></div>
        <div class="col-sm-2"><input type="hidden" id="editBookId" /></div>
    </div>
    <div class="row">
        <button id="editBook">Сохранить</button>
    </div>
</div>

<div id="createBlock" class="container-fluid" style="margin-top: 50px;">
    <div class="row"><b>Добавление книги</b></div>
    <div class="row">
        <div class="col-sm-2">Автор: </div>
        <div class="col-sm-2"><input type="text" id="addAuthor" /></div>
    </div>
    <div class="row">
        <div class="col-sm-2">Название: </div>
        <div class="col-sm-2"><input type="text" id="addName" /></div>
    </div>
    <div class="row">
        <button id="addBook">Сохранить</button>
    </div>
</div>

    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {

                GetAllBooks();

                $("#editBook").click(function (event) {
                    event.preventDefault();
                    EditBook();
                });

                $("#addBook").click(function (event) {
                    event.preventDefault();
                    AddBook();
                });

            });

            function GetAllBooks() {

                $("#createBlock").css('display', 'block');
                $("#editBlock").css('display', 'none');
                $.ajax({
                    url: '/api/Books',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        WriteResponse(data);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                        console.log(x, y, z);
                    }
                });
            }

            function AddBook() {
                var book = {
                    Name: $('#addName').val(),
                    Author: {
                        Name: $('#addAuthor').val(),
                    },
                };

                $.ajax({
                    url: '/api/Books/',
                    type: 'POST',
                    data: JSON.stringify(book),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        GetAllBooks();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }

            function DeleteBook(id) {

                $.ajax({
                    url: '/api/Books/' + id,
                    type: 'DELETE',
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        GetAllBooks();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }

            function EditBook() {
                var id = $('#editBookId').val();
                var authorId = $('#editAuthorId').val();               
                var book = {
                    Id: id,
                    Name: $('#editName').val(),
                    AuthorId: authorId,
                    Author: {
                        Id: authorId,
                        Name: $('#editAuthor').val(),
                    },
                };
                $.ajax({
                    url: '/api/Books/' + id,
                    type: 'PUT',
                    data: JSON.stringify(book),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        GetAllBooks();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }

            function WriteResponse(authors) {              
                var strResult = "<div class='row'><div class='col-sm-2'><b>ID</b></div><div class='col-sm-3'><b>Автор</b></div><div class='col-sm-3'><b>Название</b></div></div>";
                $.each(authors, function (index, author) {
                    $.each(author.Books, function (ind, book) {
                        strResult += "<div class='row'><div class='col-sm-2'>" + author.Id + "</div><div class='col-sm-3'>" + author.Name + "</div><div class='col-sm-3'>" + book.Name + "</div>" +
                            "<div class='col-sm-2'><a id='editItem' data-item='" + book.Id + "' onclick='EditItem(this);' >Редактировать</a></div>" +
                            "<div class='col-sm-2'><a id='delItem' data-item='" + book.Id + "' onclick='DeleteItem(this);' >Удалить</a></div></div>";
                    });
                });
                strResult += "</table>";
                $("#tableBlock").html(strResult);

            }

            function DeleteItem(el) {
                var id = $(el).attr('data-item');
                DeleteBook(id);
            }

            function EditItem(el) {
                var id = $(el).attr('data-item');
                GetBook(id);
            }

            function ShowBook(book) {
                if (book != null) {
                    $("#createBlock").css('display', 'none');
                    $("#editBlock").css('display', 'block');
                    $("#editBookId").val(book.Id);
                    $("#editAuthorId").val(book.Author.Id);
                    $("#editAuthor").val(book.Author.Name);
                    $("#editName").val(book.Name);
                }
                else {
                    alert("Такая книга не существует");
                }
            }

            function GetBook(id) {
                $.ajax({
                    url: '/api/Books/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        ShowBook(data);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
        </script>
    }
